<div class="big_wrapper">
  <div class="wrapper center" id="middle_reserve">
    <object data="/assets/howtokeepyourbestprogrammers.pdf" type="application/pdf" width="900" height="800"></object>
    <h2><%= Settings.ships %></h2>
    <a href="/preorder/checkout" class="blue_button reserve"><%= Settings.middle_reserve_text %></a>
  </div>
</div>
